/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
setup font chữ không chân
 */
html{
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}


.clear{
    clear: both; /*ÔM trọn DIV con khi dùng  float: left;*/
}


.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center{
    text-align: center;
}

/* Kéo sang phải */
.pull-right{
    float: right !important;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}



.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}

.mt-16 {
    margin-top: 32px !important;
}

.btn{
    background-color: #000;
    color: #fff;
    padding: 11px 13px;
    display: inline-block; /*Không để nút bị tràn ra khỏi giao diện*/
    margin: 5px 0 15px;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    padding:11px 13px;
    cursor: pointer; /* Thay Đổi trỏ chuột*/
}





/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết 
 */

/* 1. Vị trí
2. Kích Thước (rộng , cao ) width , height
3. Màu Sắc
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông,...) */


#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed; /* Cố Định navigation*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /*làm thanh công cụ nổi lên không bị chìm vào ảnh slider*/
    /* overflow: hidden; Ẩn Tất cả thuộc tính bị thừa ra khỏi thằng thẻ cha */
}

/* thanh navigation đến đâu thì chỉ đến đó, còn nếu để block thì nó sẽ dài hết cả trang */
#nav {
    display: inline-block;
}


#nav , .subnav {
    list-style-type: none; /*Mất dấu chấm hoặc 1 2 3 ở list dọc*/
}

/* 
setup thẻ Li có id 'nav' nằm Ngang
 */
#nav li{
    position: relative;  /*xét chuẩn góc tọa độ cho phần navigation sổ xuống*/
}

/* 
setup thẻ Li có id 'nav' cấp 1

 */
 
#nav > li{
    display: inline-block; /*xét cho Thanh Menu chữ nằm ngang*/
}


 /*
---CSS TẤT CẢ THẺ a là con trực tiếp cấp 1 của li và li là con cấp 1 của id 'nav' , 
cấp 2 sâu bên trong sẽ không bị ảnh hưởng
 */
#nav > li > a {
    color: #fff;
    text-transform: uppercase; /* Viết hoa tất cả chữ văn bản */
}


 /*
---CSS TẤT CẢ THẺ a là con li và li là con của id 'nav' , cả cấp 1 và cấp sau đều ảnh hưởng
setup toàn thẻ a
 */
#nav li a {
    text-decoration: none; /*Bỏ gạch dưới của thẻ a */
    line-height: 46px; /* Canh Giữa khi kéo chuột để copy */
    padding: 1px 24px; /* xét cho vùng padding trên dưới =0 và trái phải 24px */
    display: block; /* Setup kích thước thẻ a cho khớp khi rê chuột qua */
}

/* ---Khi rê chuột qua sẽ hiện menu lên */
#nav li:hover .subnav{
    display: block;
}


 /*
---hover thẻ li là con của thẻ nav thì thẻ a sẽ được áp dụng
---Khi rê chuột qua sẽ đổi màu
 */
 #nav > li:hover > a,
 #nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}



/*
---Chỉ css cho class 'subnav' là con của id 'nav' 
*/
#nav .subnav{
    display: none;     /*---Không cho hiện tên trên thanh navigation*/
    position: absolute; /*xét cho phần navigation menu sổ xuống */
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/*
---Chỉ css cho thẻ a nằm trong class 'subnav' là con của id 'nav' 
*/
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}


/* làm nhỏ cái icon kế chữ MORE  */
.nav-arrow-down{
   font-size: 14px;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    cursor: pointer; /* Thay Đổi trỏ chuột*/
}


#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
}



#header .mobile-menu-btn:hover,
#header .search-btn:hover {
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}


#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px; /*canh giữa cho icon search*/
    padding: 0 21px; /*canh trái phải cho icon search*/
}

#slider{
    position: relative;
    margin-top: 46px; /*cách trên cùng 46px*/
    padding-top: 50%; /*50% của chính nó*/
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;

}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); */
    width:100%;
    text-align: center;
} 
#slider .text-heading {
    font-weight: 500;
    font-size: 24px;

}  
#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0,0,1px,#000;/*rõ chữ bóng*/
} 



#content{

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 16px 112px 16px;
}


#content .section-heading {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;/* Khoảng cách chữ */

    
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;/* chữ nghiêng */
    opacity: 0.6;    /* Làm mờ màu */


}


#content .abount-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify; /* Canh đều 2 bên của văn bản  */
    line-height: 1.4; /* chỉnh độ cao dòng của chữ văn bản  */
    
}


#content .members-list{
    margin-top: 32px;
    /*ÔM trọn DIV con khi dùng  float: left;*/

}

#content .member-item {
    float: left; /* Kéo ảnh sang trái*/
    width: calc(100%/3);
    text-align: center;
}


#content .member-name {
    font-size: 15px;
    padding-bottom: 5px;
    
}

#content .member-img {
    width: 250px;
    height: 100%;
    border-radius: 10px; /* Bo tròn góc ảnh image*/
    
}



/* tour-section */
#content .tour-section{
    background-color: black;
}

.text-white{
    color: #fff !important;
}

.ticket-list{
    margin-top: 35px;
    background-color: #fff;
    line-height: 2;
}


.ticket-list li{
    list-style-type: none; /*Làm Mất cái hình tròn mỗi đầu văn bản */
    color: #757575;
    font-size: 15px;
    padding: 11px 16px; /*Cách trên dưới 11 , trái phải 16px*/
    border-bottom: 1px solid #ddd; /*Nét liền bo viền*/
}


.ticket-list .soul-out{
    background-color: red;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}

.ticket-list .quantity{
    box-sizing: border-box; /* lÀM Kích thước không bị thay đổi khi làm dầy padding và border */
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 24px; /*Canh giữa Đúng kích thước theo chiều cao và dài*/
    /* margin-top: -2px; */

}


.places-list{
    /* margin: 32px -8px 50px; */
    margin-top: 16px;
    /* margin-bottom: 32px; */
    
}
.place-item{
    float: left;
    width: calc(100%/3);
    /* padding: 0 8px; */
}
.place-img{
    height: 300px;
    width: 100%; 
    display: block;
}


.place-img:hover {
    opacity: 0.6; /*Làm Mờ */
}
.place-body{
    background-color: #fff;
    list-style: none;
    font-size: 15px;
    padding: 0px 14px; /*Cách Lề Đều 2 bên trái phải 14px , trên dưới 0px*/
}
.place-heading{
    font-size: 15px;
    font-weight: 800;
    

}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-dec{
    margin-top: 15px;   
    line-height: 1.4; 
    margin-bottom: 15px;
}
.place-buy-btn{
    background-color: #000;
    color: #fff;
    padding: 11px 13px;
    display: inline-block; /*Không để nút bị tràn ra khỏi giao diện*/
    margin: 5px 0 15px;
    text-decoration: none;
}

.place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    padding:11px 13px;
    cursor: pointer; /* Thay Đổi trỏ chuột*/
}

#footer{

}




.modal{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* display:flex; Nằm giữa display lớn */
    align-items: center; /*thằng con nằm giữa chiều cao thằng cha*/
    justify-content: center;/*nằm giữa chiều ngang của thằng cha*/
    display: none;
}


.js-modal.open{
    display: flex;
}


.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 300px;
    position: relative;
    animation: modalFadeIn ease 0.7s;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    display:flex; /*Nằm giữa display lớn*/
    align-items: center; /*thằng con nằm giữa chiều cao thằng cha*/
    justify-content: center;/*nằm giữa chiều ngang của thằng cha*/
    font-size: 30px;
    color: #fff;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;/* Thay Đổi trỏ chuột*/
}

.modal-close:hover {
    opacity: 0.8; /*Làm Mờ khi rê chuột vào*/
    background-color: salmon;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    font-size: 15px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
}

#by-tickets{
    background-color: #009688;
    text-decoration: none;/*Xóa gạch dưới của thẻ a*/
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;

}

#by-tickets:hover{
    opacity: 0.9; /*Làm Mờ */
}

.modal-footer{
    padding: 16px;
    text-align: right;
    
}
.modal-footer a{
    color: #2196F3;
}


.contact-form {
    font-size: 15px;
}


.contact-content{
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;

}


/* CSS cho tất cả các thẻ có chữ ti- */
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color:#0b45f1;
    opacity: 0.7;
}


.contact-info a:hover {
    opacity: 1;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
    outline: none; /* bỏ màu mỗi lần bấm vào input*/
    appearance: none;
    -webkit-appearance: none;
}



/* Map-section */
.map-section{
    width: 100%; /*Nếu Kéo Màn hình thì ảnh cũng sẽ nhỏ lại theo, không bị mất ảnh*/
}



#footer{
    padding: 64px 16px;
    text-align: center;

}


#footer .socials-list{
    font-size: 24px;

}


#footer .socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 20px;
    font-size: 20px;
}

#footer .copyright a{
    color: rgb(11, 69, 241);
}


#footer .copyright a:hover{
    color: rgba(0, 0, 0, 0.4);

}


@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.pc,
.tablet,
.mobile{
    background-color: #fff;
}


/* 
Mobile : width < 740px ==> max-width : 739px = 46.1875em
*/
@media only screen and (max-width : 46.1875em) {
    .mobile{
        display: block;
    }
}



/* 
tablet : width >= 740px and width < 1024px
*/
@media only screen and (min-width : 46.25em) and (max-width:63.9375em) {
    .tablet{
        display: block;
    }
}



/* 
PC : width >= 1024px
*/
@media only screen and (min-width:64em) {
    .pc{
        display: block;
    }
}