/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
setup font chữ không chân
 */
html{
    font-family: Helvetica, Arial, sans-serif;
}


/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết 
 */

/* 1. Vị trí
2. Kích Thước (rộng , cao ) width , height
3. Màu Sắc
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông,...) */


#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed; /* Cố Định navigation*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /*làm thanh công cụ nổi lên không bị chìm vào ảnh slider*/
}

/* thanh navigation đến đâu thì chỉ đến đó, còn nếu để block thì nó sẽ dài hết cả trang */
#nav {
    display: inline-block;
}


#nav , .subnav {
    list-style-type: none;
}

/* 
setup thẻ Li có id 'nav' nằm Ngang
 */
#nav li{
    position: relative;  /*xét chuẩn góc tọa độ cho phần navigation sổ xuống*/
}

/* 
setup thẻ Li có id 'nav' cấp 1
 */
#nav > li{
    display: inline-block;
}


 /*
---CSS TẤT CẢ THẺ a là con trực tiếp cấp 1 của li và li là con cấp 1 của id 'nav' , 
cấp 2 sâu bên trong sẽ không bị ảnh hưởng
 */
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}


 /*
---CSS TẤT CẢ THẺ a là con li và li là con của id 'nav' , cả cấp 1 và cấp sau đều ảnh hưởng
 */
#nav li a {
    text-decoration: none; /*Bỏ gạch dưới của thẻ a */
    line-height: 46px; /* Canh Giữa khi kéo chuột để copy */
    padding: 0 24px;
    display: block; /* Setup kích thước thẻ a cho khớp khi rê chuột qua */
}

/* ---Khi rê chuột qua sẽ hiện menu lên */
#nav li:hover .subnav{
    display: block;
}


 /*
---hover thẻ li là con của thẻ nav thì thẻ a sẽ được áp dụng
---Khi rê chuột qua sẽ đổi màu
 */
 #nav > li:hover > a,
 #nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}



/*
---Chỉ css cho class 'subnav' là con của id 'nav' 
*/
#nav .subnav{
    display: none;     /*---Không cho hiện tên trên thanh navigation*/
    position: absolute; /*xét cho phần navigation menu sổ xuống */
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/*
---Chỉ css cho thẻ a nằm trong class 'subnav' là con của id 'nav' 
*/
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}


/* làm nhỏ cái icon kế chữ MORE  */
.nav-arrow-down{
   font-size: 14px;
}


#header .search-btn{
    float: right;
    cursor: pointer; /* Thay Đổi trỏ chuột*/
}


#header .search-btn:hover {
    background-color: #f44336;
}




#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px; /*canh giữa cho icon search*/
    padding: 0 21px; /*canh trái phải cho icon search*/
}

#slider{
    position: relative;
    margin-top: 46px; /*cách trên cùng 46px*/
    padding-top: 50%; /*50% của chính nó*/
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;

}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); */
    width:100%;
    text-align: center;
} 
#slider .text-heading {
    font-weight: 500;
    font-size: 24px;

}  
#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
} 



#content{

}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}


#content .section-heading {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;/* Khoảng cách chữ */

    
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;/* chữ nghiêng */
    opacity: 0.6;    /* Làm mờ màu */


}


#content .abount-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify; /* Canh đều 2 bên của văn bản  */
    line-height: 1.4; /* chỉnh độ cao dòng của chữ văn bản  */
    
}


#footer{

}